{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user == profile_owner %}
내 팔로잉 목록
<ul>
{% for following in following_list %}
    <li><a href="{% url 'feed:user_profile' following.username %}">{{ following.username }}</a></li>
{% endfor %}
</ul>
{% elif profile_owner in following_list %}
<a href="{% url "feed:unfollow" profile_owner.username %}">unfollow</a>
{% else %}
<a href="{% url "feed:follow" profile_owner.username %}">follow</a>
{% endif %}

<br>
<br>

작성 리뷰들
<ul>
{% for review in review_list %}
    <li><a href="{% url 'feed:place_profile' review.place.id %}">{{ review.place.place_name }}</a>({{ review.place.address_name }}) : {{ review.comment }}</li>
{% endfor %}
</ul>

{% endblock %}
